body{
    background-color: #efc4ef;
}

h1{
    font-size: 20px;
    color: purple;
    text-align: center;
}

h2{
    font-size: 20px;
    color: purple;
    margin-left: 20px;
}

p{
    font-size: 30px;
    text-align: justify;
}

li{
    font-size: 18px;
    margin-bottom: 30px;
}

.imagem_2{
    border-radius: 20px 20px;
    width: 800px;
    height: 600px;
}

.container {
    text-align: center;
}
        
.image {
    display: block;
    margin: 0 auto;
}

table{
    border: 1px solid;
    background-color: rgb(243, 103, 199);
    width: 60%;
    margin: 0 auto;
}

th {
    border: 1px solid;
    background-color: rgb(169, 152, 226);
    width: 50%;
    height: 50%;
    font-family: cursive;
    color:blueviolet;
    border-radius: 10px 10px;
}

td{
    border: 1px solid;
    background-color: rgb(225, 197, 226);
    width: 50%;
    height: 50%;
    font-family: cursive;
    color:blueviolet;
    border-radius: 10px 10px;
    text-align: center;
}

.imagem-tabela{
    width: 50%;
    height: 50%;
}

a {
  color: red; 
  font-size: 20px;
}

a:hover {
  color: rgb(19, 126, 49);
}

button {
  border-radius: 10px;
  background-color: purple;
  font-size: 25px;
  font-family: calibri;
  color:orange;
  margin-left: 00px;
}

.mensagem {
    background-color: #f67de8;
    color:rgb(207, 31, 204);
    font-family: cursive;
    font-size: 30px;
    display: block;
    text-align: center;
}